Repository ae9is/ezsam: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-lock-check, pdm-export-lock

pdm-lock-check:
  name: pdm-lock-check
  description: validate lock file when pyproject.toml changes
  entry: bash -c 'cd docs && pdm lock --check'
  language: system
  pass_filenames: false

pdm-export-lock:
  name: pdm-export-lock
  description: export locked packages to requirements.txt when pdm.lock changes
  entry: bash -c 'cd docs && pdm export -o requirements.txt'
  language: system
  pass_filenames: false

Improve docs (#48)
  README.md
  docs/src/develop.md
  docs/src/install.md
  docs/src/usage.md
  examples/animal-1.out.png
  examples/animal-2.out.png
  examples/anime-girl-2.debug.jpg
  examples/anime-girl-2.out.png
  examples/car-1.out.png
  examples/car-3.black.png
  examples/car-3.both.png
  examples/car-3.debug.jpg
  examples/car-3.gui.png
  examples/car-3.nowheels.png
  examples/car-3.white.png
  examples/food.mp4
  examples/food.turkey.webm
Due: none

fix: move custom domain name file for mkdocs
  docs/src/CNAME
Due: none

40 mkdocs domain config 2 (#49)
  docs/src/CNAME
Due: none

refactor: enable console with gui executables to improve user feedback
  .github/workflows/make.yml
  make-nuitka.sh
  pdm.lock
  requirements.txt
Due: pdm-export-lock

refactor: change exe description slightly for better appearance in task manager
  make-nuitka.sh
Due: none

Enable gui console (#50)
  .github/workflows/make.yml
  make-nuitka.sh
  pdm.lock
  requirements.txt
Due: pdm-export-lock

docs: fix video links in readme
  README.md
Due: none

docs: fix video preview sizing by switching out for gif
  README.md
  examples/food.gif
  examples/food.turkey.gif
Due: none

docs: fix readme media layout
  README.md
Due: none

Fix readme videos (#51)
  README.md
  examples/food.gif
  examples/food.turkey.gif
Due: none

build: drop python 3.9, add 3.12, and update deps
  pdm.lock
  pyproject.toml
  requirements.txt
Due: pdm-lock-check, pdm-export-lock

release: 0.3.1
  pyproject.toml
Due: pdm-lock-check

build: update target to python 3.12 and update deps
  pdm.lock
  pyproject.toml
  requirements.txt
Due: pdm-lock-check, pdm-export-lock

build: update docs deps
  docs/pdm.lock
  docs/pyproject.toml
  docs/requirements.txt
Due: none

release: 0.3.2
  pyproject.toml
Due: pdm-lock-check

ci: update python for docs page to 3.12
  .github/workflows/pages.yml
Due: none

build: fix outdated lockfile
  pdm.lock
  requirements.txt
Due: pdm-export-lock

release: 0.3.3
  pyproject.toml
Due: pdm-lock-check

release: 0.4.0
  pyproject.toml
Due: pdm-lock-check

fix: add gui theme file to built wheel
  pyproject.toml
Due: pdm-lock-check

fix: add fallbacks when loading gui theme file
  src/ezsam/gui/app.py
  src/ezsam/gui/config.py
  src/ezsam/lib/path.py
  tests/nuitka-test-advanced.py
Due: none

feat: support switching log level by environment variable
  src/ezsam/lib/config.py
Due: none

52 gui theme file (#53)
  pyproject.toml
  src/ezsam/gui/app.py
  src/ezsam/gui/config.py
  src/ezsam/lib/config.py
  src/ezsam/lib/path.py
  tests/nuitka-test-advanced.py
Due: pdm-lock-check

release: 0.5.0
  pyproject.toml
Due: pdm-lock-check

docs: update readme for sam2
  README.md
Due: none

Delete CNAME
  CNAME
Due: none

Path conditions:
  pdm-lock-check: any of: ^pyproject.toml$
  pdm-export-lock: any of: ^pdm.lock$
